@import "tailwindcss";

@theme {
  /* Custom breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1540px;
  --breakpoint-2xl: 1860px;
  --breakpoint-3xl: 2160px;
}

/* Import heroui and other plugins via config file */
@config "../../tailwind.config.js";

::-webkit-scrollbar {
    display: none;
    /* 隐藏滚动条 */
}

 [type='text']:focus,
 [type='email']:focus,
 [type='url']:focus,
 [type='password']:focus,
 [type='number']:focus,
 [type='date']:focus,
 [type='datetime-local']:focus,
 [type='month']:focus,
 [type='search']:focus,
 [type='tel']:focus,
 [type='time']:focus,
 [type='week']:focus,
 [multiple]:focus,
 textarea:focus,
 select:focus,
 .outline-none {
     outline: 0px !important;
     outline-offset: 0px !important;
     box-shadow: none !important;
 }

.markdown-body option li,
.markdown-body ul li,
.markdown-body ol li {
    list-style-type: disc !important;
    list-style-position: inside !important;
    padding-inline-start: 20px !important;
}

.markdown-body ol li p,
.markdown-body ul li p {
    display: inline !important;
}

.markdown-body ol,
.markdown-body ul {
    white-space-collapse: collapse !important;
    white-space: normal !important;
    padding-inline-start: 0 !important;
}

/* 避免主题切换导致 代码块抖动的问题，主要在于 padding: 1em，在代码块主题样式更换时，同时需要调整该内容 */
pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}

.journal__todo ul {
    margin-left: calc(10px * var(--level, 0)); /* 动态缩进 */
}

/* 手动设置层级 */
.journal__todo ul:nth-child(2) {
    --level: 1;
}
.journal__todo ul:nth-child(3) {
    --level: 2;
}
.journal__todo ul:nth-child(4) {
    --level: 3;
}

.header-text {
    font-family:
        Audiowide,
        ui-sans-serif,
        system-ui,
        -apple-system,
        blinkmacsystemfont,
        'Segoe UI',
        roboto,
        'Helvetica Neue',
        arial,
        'Noto Sans',
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        'Noto Color Emoji';
}

.markdown-body code {
    text-wrap: wrap;
}

.markdown-body table {
    max-width: 100%;
    overflow-x: auto;
}

@media (max-width: 650px) {
    .markdown-body video {
        max-width: 60%;
    }
}

@media (min-width: 651px) {
    .markdown-body video {
        max-width: 30%;
    }
}

[data-rmiz-modal-overlay="visible"] {
    background-color: #000 !important;
}

.katex-display {
    width: 100%;
    overflow-x: auto;
}